a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#app {
  // font-family: "Lato-Light", Helvetica, Arial, sans-serif;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  padding: 0;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

input {
  font-family: 'Lato-Thin';
}

pre {
  word-wrap: normal;
  word-break: break-all;
  white-space: pre;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 4px;
  z-index: 0;
  padding: 1em;
  line-height: 1.5;
  color: #ccc;
  background: #2d2d2d;
  text-align: left;
}

.bread-crumb { text-align: left; }

.page-content-wrap {
  margin: 0 auto;
  max-width: 800px;
}

.title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

.article__content {
  background-color: #fff;
  border-radius: 5px;
  max-width: 800px;
  margin: auto;
  text-align: left;

  >* {
      text-align: left;
  }

  h1,h2,h3,h4,p,ul {margin-top: 0}

  h1, h2, h3, h4 {margin-bottom: 8px;}
  ul, p {margin-bottom: 24px;}
  h1 {font-size: 45px;}
  h2 {font-size: 30px;}
  h3 {font-size: 24px;}
  h4 {font-size: 20px;}
}
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 5px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
  padding-right: 1px;
  }
  ::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #535353;
  }
  ::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background   : #ededed;
}