// 属性的多浏览器兼容写法
// @font-face {
//   font-family: "Lato-Thin";
//   src: url("~@/assets/fonts/Lato/Lato-Thin/Lato-Thin.woff2") format("woff2"),
//        url("~@/assets/fonts/Lato/Lato-Thin/Lato-Thin.woff") format("woff"),
//        url("~@/assets/fonts/Lato/Lato-Thin/Lato-Thin.ttf") format("truetype"),
//        url("~@/assets/fonts/Lato/Lato-Thin/Lato-Thin.eot") format("embedded-opentype"),
//        url("~@/assets/fonts/Lato/Lato-Thin/Lato-Thin.svg") format("svg"),
//        url("~@/assets/fonts/Lato/Lato-Thin/Lato-Thin.otf") format("opentype");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Lato-Light";
//   src: url("~@/assets/fonts/Lato/Lato-Light/Lato-Light.woff2") format("woff2"),
//        url("~@/assets/fonts/Lato/Lato-Light/Lato-Light.woff") format("woff"),
//        url("~@/assets/fonts/Lato/Lato-Light/Lato-Light.ttf") format("truetype"),
//        url("~@/assets/fonts/Lato/Lato-Light/Lato-Light.eot") format("embedded-opentype"),
//        url("~@/assets/fonts/Lato/Lato-Light/Lato-Light.svg") format("svg"),
//        url("~@/assets/fonts/Lato/Lato-Light/Lato-Light.otf") format("opentype");
//   font-weight: normal;
//   font-style: normal;
//   font-display: optional;
// }

// @font-face {
//   font-family: "Lato";
//   src: url("~@/assets/fonts/Lato/Lato-Regular/Lato-Regular.woff2") format("woff2"),
//        url("~@/assets/fonts/Lato/Lato-Regular/Lato-Regular.woff") format("woff"),
//        url("~@/assets/fonts/Lato/Lato-Regular/Lato-Regular.ttf") format("truetype"),
//        url("~@/assets/fonts/Lato/Lato-Regular/Lato-Regular.eot") format("embedded-opentype"),
//        url("~@/assets/fonts/Lato/Lato-Regular/Lato-Regular.svg") format("svg"),
//        url("~@/assets/fonts/Lato/Lato-Regular/Lato-Regular.otf") format("opentype");
//   font-weight: normal;
//   font-style: normal;
// }

@mixin transform($property) {
    transform: $property;
    -ms-transform: $property;
    -moz-transform: $property;
    -webkit-transform: $property;
    -o-transform: $property;
}

@mixin transition($property) {
    transition: $property;
    -ms-transition: $property;
    -moz-transition: $property;
    -webkit-transition: $property;
    -o-transition: $property;
}

@mixin linear-gradient ($colorFrom, $colorTo){
    background:-moz-linear-gradient(top, $colorFrom, $colorTo);
    background:-webkit-linear-gradient(top ,$colorFrom, $colorTo);
    background:-ms-linear-gradient(top ,$colorFrom, $colorTo);
    background:linear-gradient(top ,$colorFrom, $colorTo);
}