// 覆盖组件或原生浏览器样式
button {
  font-family: inherit;
}

ul{
  padding-inline-start: 0;
}

.search-zone {
  .el-input {
    line-height: 100px;
    width: 100%;
    input {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #000;

      color: #000;
      font-size: 16px;
      font-weight: 300;

      padding-left: 0;
      padding-right: 0;
      transition: all .6s;
      width: 0;
    }
    &.active .el-input__inner, &.active .el-input__inner:focus { width: 200px !important; }
    .el-input__suffix {right: 0;}
  }
  &.is-home .el-input__inner {
    border-radius: 0px;
    text-indent: 15px;
  }
}

.to-do-list {
  .el-input .el-input__inner {
    font-weight: 300;
    height: 50px;
   }
}

.el-input .el-input__inner { border-radius: 0; }
.el-input.is-active .el-input__inner, .el-input__inner:focus { border-color: #80ffff; }